.burger-block {
    margin: 10px;
    padding: 10px;
    border: solid 2px black;

   
    &__name {
        font-size: 18px;
        font-weight: bold;
    }
    &__description {
        font-size: 13px;
    }
    &__cost {
        font-size: 13px;
        font-weight: bold;
    }
}
