.categories__item {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 30px;

    &-link {
        margin-left: 17px;
        span {
            padding: 10px 20px;
            font-size: 20px;
            background: #f9f9f9;
            border-radius: 30px;
            &:active {
                background-color: black;
                color: white;
            }
            &:hover {
                background-color: rgba($color: #d3b5b5, $alpha: 1);
            }
        }
    }
    &__basket {
        display: flex;
    }
}
