.basket {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    .wrap {
        .string:last-child {
            border-bottom: 2px solid white;
        }
        .total-price {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            padding-left: 15px;
            padding-right: 25px;
        }
        h1 {
            margin: 40px;
            text-align: center;
        }
        .nav-buttons {
            display: flex;
            justify-content: space-between;

            .back,
            .buy {
                border: 3px solid white;
                border-radius: 30px;
                position: relative;
                height: 65px;
                width: 290px;

                a {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    color: inherit;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
@media (max-width: 1480px) {
    .basket {
        max-width: 780px;
        margin: 0 auto;
    }
}
@media (max-width: 1200px) {
    .wrap {
        max-width: 780px;
    }
}

@media (max-width: 900px) {
    .basket {
        font-size: 20px;
        .wrap {
            h1 {
                font-size: 1.5em;
            }
            .nav-buttons {
                .back,
                .buy {
                    border: 2px solid white;
                    height: 60px;
                    width: 250px;
                }
            }
            .total-price {
                // padding: 0 15px;
            }
        }
    }
}
@media (max-width: 570px) {
    .basket {
        
        .wrap {
            h1 {
                
            }
            .nav-buttons {
                font-size: 17px;
                .back,
                .buy {
                    border: 2px solid white;
                    height: 60px;
                    width: 200px;
                }
            }
            .total-price {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 440px) {
    .basket {
        
        .wrap {
            h1 {
                
            }
            .nav-buttons {
                flex-direction: column-reverse;
                align-items: center;
                
                .back,
                .buy {
                    margin: 10px 0 20px 0;
                }
            }
            .total-price {
                flex-direction: column;
                align-items: center;
                margin: 20px 0 10px 0;
                
                span{
                    margin: 10px 0;
                }
            }
        }
    }
}
