.navbar {
    position: relative;
    display: flex;
    margin: 20px;

    &__logo {
        position: relative;

        img {
            height: 70px;
            width: 70px;
            margin-left: 30px;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    &__link {
        padding: 10px;

        a {
            font-size: 25px;
            text-decoration: none;
            color: inherit;
            &:hover {
                font-weight: bold; 
                font-size: 32px;
            }
        }
        
    }
}
