.navbar {
    // position: relative;
    display: flex;
    margin-bottom: 20px;

    &__logo {
        a {
            display: block;
            // height: 70px;
            // width: 70px;

            svg {
                height: 70px;
                width: 70px;
                margin-left: 30px;
                margin-top: 15px;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    &__link {
        padding: 10px;
        color: white;

        // .selected {
        //     color: brown;
        //     text-decoration: underline;
        // }

        a {
            // font-size: 21px;
            font-size: 1.4em;
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }
        a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: white;
            transition: width 0.3s;
        }
        a:hover::after {
            width: 100%;
            transition: width 0.3s;
        }
    }
}
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
@media (max-width: 500px) {
    .navbar {
        &__links {
            margin-top: 15px;
        }
        &__link {
            padding: 10px;
            font-size: 0.7em;
        }
        &__logo {
            a {
                svg {
                    height: 40px;
                    width: 40px;
                    margin-left: 20px;
                    margin-top: 15px;
                }
            }
        }
    }
}
@media (max-width: 330px) {
    .navbar {
        &__links {
            margin-top: 10px;
        }
        &__link {
            font-size: 0.6em;
        }
        &__logo {
            a {
                svg {
                    height: 40px;
                    width: 40px;
                    margin-left: 7px;
                    margin-top: 10px;
                }
            }
        }
    }
}
@media (max-width: 280px) {
    .navbar {
        margin-bottom: 4px;
        &__link {
            font-size: 0.5em;
        }
        &__logo {
            a {
                svg {
                    height: 40px;
                    width: 40px;
                    margin-left: 5px;
                    margin-top: 5px;
                }
            }
        }
    }
}
