.footer {
    height: 50vh;
    margin: 0 auto;
    position: relative;
    width: 100%;
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 0 40px;
        width: 100%;
        // height: 100%;
        height: 70%;
        h2 {
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            font-size: 30px;
            font-weight: 300;
            margin: 25px 0;
        }
        p {
            margin-bottom: 20px;
            color: white;
            text-align: center;
            span {
                color: red;
                font-size: 1.1em;
            }
        }
        form {
            display: flex;
            min-width: 470px;
            // width: 470px;
            height: 50px;
            input {
                width: 100%;
                margin: 0 7px;
                background-color: black;
                border: 2px solid white;
                color: white;
                font-size: 1.3em;
                border-radius: 3px;
                left: 0;
                padding-left: 15px;
            }
            input:focus {
                // border: 2px solid yellow;
                &::placeholder {
                    color: transparent;
                }
            }

            button {
                background-color: inherit;
                border: 2px solid red;
                color: white;
                border-radius: 3px;
                // width: 100%;
                font-size: 1em;
                cursor: pointer;
                padding: 0 20px;
            }
        }
        .social {
            display: flex;
            margin: 60px 0;
            li {
                margin: 0 10px;
                svg {
                    height: 30px;
                    width: 30px;
                }
                :hover {
                    svg {
                        stroke: red;
                        transition: 0.5s;
                    }
                    .insta {
                        g {
                            fill: red;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {
        &-wrapper {
            padding: 0 10px;
            p {
                font-size: 0.9em;
            }
            form {
                min-width: 0px;
                height: 120px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input {
                    height: 50px;
                    width: 320px;
                    margin: 0 0px;
                }
                button {
                    margin: 10px 0;
                    height: 50px;
                    width: 138px;
                }
            }
            .social {
                margin: 20px 0;
            }
        }
    }
}
@media (max-width: 320px) {
    .footer {
        height: 65vh;
        &-wrapper {
            h2 {
                letter-spacing: 0.1em;
                font-size: 23px;
            }
            form {
                input {
                    height: 40px;
                    font-size: .9em;
                    width: 260px;
                }
                button {
                    height: 40px;
                    font-size: .7em;
                }
            }
            .social {
                li {
                    margin: 0 10px;
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
            p {
                font-size: 0.6em;
                margin-bottom: 10px;
            }
        }
    }
}
