.cont-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    height: 100%;
    background-size: contain;

    .title {
        margin: 30px 0;
        font-size: 3em;
    }
    p {
        font-size: 1.7em;
        margin: 30px 0;
        line-height: 1.7em;
        
    }
    li {
        font-size: 1.7em;
    }
    img {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .cont-text {
       .title{
        font-size: 2em;
        text-align: center;
       }
        p {
            font-size: 1.1rem;
            line-height: 1.7em;
            margin: 15px 0;
        }
        li {
            font-size: 1.1rem;
        }
    }
}
